<a href="https://colab.research.google.com/github/sinwooo/bmt_python/blob/main/21503_11%EC%A3%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd

In [3]:
dates = pd.date_range('20210514', periods=6)
dates

DatetimeIndex(['2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17',
               '2021-05-18', '2021-05-19'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD')) 
df

NameError: ignored

In [8]:
df.mean()

A   -0.654058
B    0.133080
C   -0.175884
D    0.065470
dtype: float64

In [9]:
df.mean(0)

A   -0.654058
B    0.133080
C   -0.175884
D    0.065470
dtype: float64

In [10]:
df.mean(1)

2021-05-14    0.011625
2021-05-15   -0.506958
2021-05-16   -0.424489
2021-05-17    0.278408
2021-05-18   -0.137090
2021-05-19   -0.168584
Freq: D, dtype: float64

In [19]:
df

          0         1         2         3
0  0.436012  0.940035 -1.023520  1.319841
1 -0.269103 -0.217796 -1.472993 -1.444462
2 -0.161043  1.422705  0.874943  0.352590
3  0.325462 -1.763786 -0.856201  1.169572
4 -1.449221  1.662774 -0.428687 -0.741814
5  2.513067 -2.435929 -0.063508  1.096188
6  0.247377  0.425464 -0.102655  1.018937
7 -1.440490 -0.142596 -0.588306 -1.074983
8  1.667843 -0.982932  1.554279  1.147997
9 -1.141361 -0.264493  0.118485  0.594584

In [12]:
df.apply(np.cumsum)

                   A         B         C         D
2021-05-14  0.029082  0.124000 -0.379457  0.272873
2021-05-15 -2.882781  0.529122 -0.040309  0.412636
2021-05-16 -3.050819  0.642833 -1.599441  0.328139
2021-05-17 -3.730262  1.361007 -0.614158  0.417759
2021-05-18 -5.237363  1.713731 -0.226112  0.635728
2021-05-19 -3.924346  0.798480 -1.055306  0.392818

In [13]:
df.apply(np.cumsum,axis=0)

                   A         B         C         D
2021-05-14  0.029082  0.124000 -0.379457  0.272873
2021-05-15 -2.882781  0.529122 -0.040309  0.412636
2021-05-16 -3.050819  0.642833 -1.599441  0.328139
2021-05-17 -3.730262  1.361007 -0.614158  0.417759
2021-05-18 -5.237363  1.713731 -0.226112  0.635728
2021-05-19 -3.924346  0.798480 -1.055306  0.392818

In [14]:
df

                   A         B         C         D
2021-05-14  0.029082  0.124000 -0.379457  0.272873
2021-05-15 -2.911864  0.405122  0.339147  0.139763
2021-05-16 -0.168037  0.113711 -1.559132 -0.084497
2021-05-17 -0.679443  0.718174  0.985283  0.089620
2021-05-18 -1.507101  0.352724  0.388046  0.217970
2021-05-19  1.313017 -0.915251 -0.829194 -0.242910

In [16]:
df.apply(lambda x:x.max()-x.min())

A    4.224881
B    1.633425
C    2.544415
D    0.515784
dtype: float64

In [18]:
df.apply(lambda x:x.max()-x.min() , axis=0)

0    3.962288
1    4.098703
2    3.027272
3    2.764303
dtype: float64

In [20]:
df.apply(lambda x:x.max()-x.min() , axis=1)

2021-05-14    0.652330
2021-05-15    3.316986
2021-05-16    1.672843
2021-05-17    1.664726
2021-05-18    1.895147
2021-05-19    2.228268
Freq: D, dtype: float64

In [17]:
s = pd.Series(np.random.randint(1, 6, size = 10))
s.value_counts()

2    4
1    3
3    2
5    1
dtype: int64

In [16]:
s = pd.Series(np.random.randint(0, 7, size = 10))
s

0    2
1    0
2    3
3    1
4    5
5    1
6    1
7    3
8    3
9    4
dtype: int64

In [14]:
df

          0         1         2         3
0  0.436012  0.940035 -1.023520  1.319841
1 -0.269103 -0.217796 -1.472993 -1.444462
2 -0.161043  1.422705  0.874943  0.352590
3  0.325462 -1.763786 -0.856201  1.169572
4 -1.449221  1.662774 -0.428687 -0.741814
5  2.513067 -2.435929 -0.063508  1.096188
6  0.247377  0.425464 -0.102655  1.018937
7 -1.440490 -0.142596 -0.588306 -1.074983
8  1.667843 -0.982932  1.554279  1.147997
9 -1.141361 -0.264493  0.118485  0.594584

In [13]:
df

          0         1         2         3
0  0.436012  0.940035 -1.023520  1.319841
1 -0.269103 -0.217796 -1.472993 -1.444462
2 -0.161043  1.422705  0.874943  0.352590
3  0.325462 -1.763786 -0.856201  1.169572
4 -1.449221  1.662774 -0.428687 -0.741814
5  2.513067 -2.435929 -0.063508  1.096188
6  0.247377  0.425464 -0.102655  1.018937
7 -1.440490 -0.142596 -0.588306 -1.074983
8  1.667843 -0.982932  1.554279  1.147997
9 -1.141361 -0.264493  0.118485  0.594584

In [12]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0  0.436012  0.940035 -1.023520  1.319841
1 -0.269103 -0.217796 -1.472993 -1.444462
2 -0.161043  1.422705  0.874943  0.352590
3  0.325462 -1.763786 -0.856201  1.169572
4 -1.449221  1.662774 -0.428687 -0.741814
5  2.513067 -2.435929 -0.063508  1.096188
6  0.247377  0.425464 -0.102655  1.018937
7 -1.440490 -0.142596 -0.588306 -1.074983
8  1.667843 -0.982932  1.554279  1.147997
9 -1.141361 -0.264493  0.118485  0.594584

In [21]:
df[:3]

          0         1         2         3
0  0.436012  0.940035 -1.023520  1.319841
1 -0.269103 -0.217796 -1.472993 -1.444462
2 -0.161043  1.422705  0.874943  0.352590

In [22]:
df[3:7]

          0         1         2         3
3  0.325462 -1.763786 -0.856201  1.169572
4 -1.449221  1.662774 -0.428687 -0.741814
5  2.513067 -2.435929 -0.063508  1.096188
6  0.247377  0.425464 -0.102655  1.018937

In [23]:
df[7:]

          0         1         2         3
7 -1.440490 -0.142596 -0.588306 -1.074983
8  1.667843 -0.982932  1.554279  1.147997
9 -1.141361 -0.264493  0.118485  0.594584

In [24]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0  0.436012  0.940035 -1.023520  1.319841
 1 -0.269103 -0.217796 -1.472993 -1.444462
 2 -0.161043  1.422705  0.874943  0.352590,
           0         1         2         3
 3  0.325462 -1.763786 -0.856201  1.169572
 4 -1.449221  1.662774 -0.428687 -0.741814
 5  2.513067 -2.435929 -0.063508  1.096188
 6  0.247377  0.425464 -0.102655  1.018937,
           0         1         2         3
 7 -1.440490 -0.142596 -0.588306 -1.074983
 8  1.667843 -0.982932  1.554279  1.147997
 9 -1.141361 -0.264493  0.118485  0.594584]

In [27]:
pieces[0]

          0         1         2         3
0  0.436012  0.940035 -1.023520  1.319841
1 -0.269103 -0.217796 -1.472993 -1.444462
2 -0.161043  1.422705  0.874943  0.352590

In [28]:
pieces[0]

          0         1         2         3
0  0.436012  0.940035 -1.023520  1.319841
1 -0.269103 -0.217796 -1.472993 -1.444462
2 -0.161043  1.422705  0.874943  0.352590

In [29]:
pieces[1]

          0         1         2         3
3  0.325462 -1.763786 -0.856201  1.169572
4 -1.449221  1.662774 -0.428687 -0.741814
5  2.513067 -2.435929 -0.063508  1.096188
6  0.247377  0.425464 -0.102655  1.018937

In [30]:
pieces[2]

          0         1         2         3
7 -1.440490 -0.142596 -0.588306 -1.074983
8  1.667843 -0.982932  1.554279  1.147997
9 -1.141361 -0.264493  0.118485  0.594584

In [31]:
pd.concat(pieces)

          0         1         2         3
0  0.436012  0.940035 -1.023520  1.319841
1 -0.269103 -0.217796 -1.472993 -1.444462
2 -0.161043  1.422705  0.874943  0.352590
3  0.325462 -1.763786 -0.856201  1.169572
4 -1.449221  1.662774 -0.428687 -0.741814
5  2.513067 -2.435929 -0.063508  1.096188
6  0.247377  0.425464 -0.102655  1.018937
7 -1.440490 -0.142596 -0.588306 -1.074983
8  1.667843 -0.982932  1.554279  1.147997
9 -1.141361 -0.264493  0.118485  0.594584

In [32]:
left = pd.DataFrame(
    
  {
      'key':['foo', 'foo'],
     'lval': [1, 2]
   }
    )
right = pd.DataFrame({'key':['foo', 'foo'], 'rval': [4, 5]})

In [33]:
left

   key  lval
0  foo     1
1  foo     2

In [34]:
right

   key  rval
0  foo     4
1  foo     5

In [35]:
 pd.merge(left, right, on = 'key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [36]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])

In [37]:
df

          A         B         C         D
0 -1.674363 -0.688392 -0.809182 -0.179638
1 -1.411284  0.987489 -2.534303  0.324461
2 -0.491541  0.328425  0.419632  1.216067
3 -0.853763 -0.716446  1.213368  0.290018
4  1.091785  3.145260  0.152008 -0.693461
5 -0.225818  0.621315  0.510015  0.322380
6 -1.535661 -0.409910 -1.084993  1.427695
7  0.387008  0.343996  2.147984  0.807494

In [40]:
s = df.iloc[3]
s

A   -0.853763
B   -0.716446
C    1.213368
D    0.290018
Name: 3, dtype: float64

In [41]:
s

A   -0.853763
B   -0.716446
C    1.213368
D    0.290018
Name: 3, dtype: float64

In [42]:
print(df.append(s, ignore_index=True))

          A         B         C         D
0 -1.674363 -0.688392 -0.809182 -0.179638
1 -1.411284  0.987489 -2.534303  0.324461
2 -0.491541  0.328425  0.419632  1.216067
3 -0.853763 -0.716446  1.213368  0.290018
4  1.091785  3.145260  0.152008 -0.693461
5 -0.225818  0.621315  0.510015  0.322380
6 -1.535661 -0.409910 -1.084993  1.427695
7  0.387008  0.343996  2.147984  0.807494
8 -0.853763 -0.716446  1.213368  0.290018