<a href="https://colab.research.google.com/github/sinwooo/bmt_python/blob/main/21503_10%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
s = pd.Series( [1,3,5,np.nan,6,8] )
a= [1,3,5,np.nan,6,8]
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [9]:
type(s)

pandas.core.series.Series

In [10]:
type(a)

list

In [11]:
dates =pd.date_range('20210507', periods=6)
dates

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6,4), )
df

          0         1         2         3
0 -0.995766  0.839519 -0.022854 -0.291527
1  0.411666  2.011845 -0.676476  0.843711
2 -0.537303  0.540720 -1.017670 -1.051251
3 -0.334882  0.687279  0.329572  1.340600
4  0.287507  0.018756 -0.665146 -0.653751
5  0.302691  1.155175 -0.875300 -2.087651

In [13]:
df = pd.DataFrame(np.random.randn(6,4),index=dates )
df

                   0         1         2         3
2021-05-07  0.243076  1.035343 -1.151840  1.363173
2021-05-08 -1.799069  0.998832  0.396615 -0.460945
2021-05-09 -0.878421  0.186157 -0.861579 -0.045928
2021-05-10  2.030989 -0.166232  0.268439  0.949479
2021-05-11 -1.411451 -0.468750 -0.046903  1.071905
2021-05-12  0.728445 -0.310347  0.815238 -0.693592

In [17]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=['A','B','C','D'] )
df

                   A         B         C         D
2021-05-07 -0.864529  1.593016  0.471682 -0.575406
2021-05-08 -0.969138  1.717503 -0.319178 -0.263831
2021-05-09  0.426764  0.095568 -0.457462 -1.961635
2021-05-10  0.689421  1.932067 -0.004677  1.020747
2021-05-11 -1.635956  1.121889  0.617838  0.842468
2021-05-12 -1.265752 -1.060073  0.943108  1.063065

In [19]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=['국어','영어','수학','물리'] )
df

                  국어        영어        수학        물리
2021-05-07  1.288623  0.520336  0.288714 -0.421530
2021-05-08 -0.780971  0.412863 -0.229165 -0.166432
2021-05-09 -0.506472 -0.514047  2.069445 -1.028345
2021-05-10  0.518980 -0.257660  0.862781  0.059285
2021-05-11  1.211599 -0.253561 -0.183716  1.599679
2021-05-12 -0.946372 -0.495303  0.648422  2.146166

In [22]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

df

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318

In [26]:
df2=pd.DataFrame(
    {
        'A':1.,
     'B':pd.Timestamp('20210507'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
     'D':np.array([3]*4,dtype='int32'),
     'E':pd.Categorical(['test','train', 'test','train']),
     'F':'foo'
    }
)
df2

     A          B    C  D      E    F
0  1.0 2021-05-07  1.0  3   test  foo
1  1.0 2021-05-07  1.0  3  train  foo
2  1.0 2021-05-07  1.0  3   test  foo
3  1.0 2021-05-07  1.0  3  train  foo

In [27]:
df

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318

In [28]:
df.head()

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135

In [30]:
df.tail()

                   A         B         C         D
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318

In [31]:
df

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318

In [32]:
df.head(1)

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092

In [33]:
df.tail(2)

                   A         B         C         D
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318

In [34]:
df

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318

In [36]:
df.index

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [37]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [38]:
df.values

array([[ 1.11639784,  1.61647419, -1.1055481 ,  0.60609179],
       [ 1.02794898, -1.77570009,  0.46558039, -0.30480101],
       [ 1.06530254, -2.22712196,  0.53399131,  0.23996976],
       [ 0.98325444, -0.52371415, -1.52990511,  1.45453974],
       [-0.19924478, -0.68141339, -0.93041179, -0.301135  ],
       [-0.60712262, -1.60872912, -1.13528118,  1.25531796]])

In [39]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.564423 -0.866701 -0.616929  0.491664
std    0.761780  1.381721  0.887207  0.754934
min   -0.607123 -2.227122 -1.529905 -0.304801
25%    0.096380 -1.733957 -1.127848 -0.165859
50%    1.005602 -1.145071 -1.017980  0.423031
75%    1.055964 -0.563139  0.116582  1.093011
max    1.116398  1.616474  0.533991  1.454540

In [40]:
df

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318

In [41]:
df.T

   2021-05-07  2021-05-08  2021-05-09  2021-05-10  2021-05-11  2021-05-12
A    1.116398    1.027949    1.065303    0.983254   -0.199245   -0.607123
B    1.616474   -1.775700   -2.227122   -0.523714   -0.681413   -1.608729
C   -1.105548    0.465580    0.533991   -1.529905   -0.930412   -1.135281
D    0.606092   -0.304801    0.239970    1.454540   -0.301135    1.255318

In [43]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2021-05-07  0.606092 -1.105548  1.616474  1.116398
2021-05-08 -0.304801  0.465580 -1.775700  1.027949
2021-05-09  0.239970  0.533991 -2.227122  1.065303
2021-05-10  1.454540 -1.529905 -0.523714  0.983254
2021-05-11 -0.301135 -0.930412 -0.681413 -0.199245
2021-05-12  1.255318 -1.135281 -1.608729 -0.607123

In [44]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-07  1.116398  1.616474 -1.105548  0.606092

In [45]:
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318

In [46]:
df.sort_index(axis=0,ascending=True)

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318

In [47]:
df.sort_values(by='B')

                   A         B         C         D
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-07  1.116398  1.616474 -1.105548  0.606092

In [48]:
df['A']

2021-05-07    1.116398
2021-05-08    1.027949
2021-05-09    1.065303
2021-05-10    0.983254
2021-05-11   -0.199245
2021-05-12   -0.607123
Freq: D, Name: A, dtype: float64

In [49]:
df['B']

2021-05-07    1.616474
2021-05-08   -1.775700
2021-05-09   -2.227122
2021-05-10   -0.523714
2021-05-11   -0.681413
2021-05-12   -1.608729
Freq: D, Name: B, dtype: float64

In [53]:
df[['A','B','C']]

                   A         B         C
2021-05-07  1.116398  1.616474 -1.105548
2021-05-08  1.027949 -1.775700  0.465580
2021-05-09  1.065303 -2.227122  0.533991
2021-05-10  0.983254 -0.523714 -1.529905
2021-05-11 -0.199245 -0.681413 -0.930412
2021-05-12 -0.607123 -1.608729 -1.135281

In [54]:
df[['D','B','C']]

                   D         B         C
2021-05-07  0.606092  1.616474 -1.105548
2021-05-08 -0.304801 -1.775700  0.465580
2021-05-09  0.239970 -2.227122  0.533991
2021-05-10  1.454540 -0.523714 -1.529905
2021-05-11 -0.301135 -0.681413 -0.930412
2021-05-12  1.255318 -1.608729 -1.135281

In [55]:
df

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318

In [56]:
df[0:3]

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970

In [60]:
print(df[0:3])
print(df['20210507':'20210509'])
print(df[['A','B','C']])

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
                   A         B         C
2021-05-07  1.116398  1.616474 -1.105548
2021-05-08  1.027949 -1.775700  0.465580
2021-05-09  1.065303 -2.227122  0.533991
2021-05-10  0.983254 -0.523714 -1.529905
2021-05-11 -0.199245 -0.681413 -0.930412
2021-05-12 -0.607123 -1.608729 -1.135281

In [61]:
df

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318

In [66]:
df.loc['20210507':'20210508',['A','C']]

                   A         C
2021-05-07  1.116398 -1.105548
2021-05-08  1.027949  0.465580

In [78]:
df.iloc[1:3,0:2]

                   A         B
2021-05-08  1.027949 -1.775700
2021-05-09  1.065303 -2.227122

In [79]:
df.iloc[0:3,1:3]

                   B         C
2021-05-07  1.616474 -1.105548
2021-05-08 -1.775700  0.465580
2021-05-09 -2.227122  0.533991

In [80]:
df.iloc[[0.3],[1,3]]

                   B         D
2021-05-07  1.616474  0.606092

In [81]:
df

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318

In [83]:
df.iloc[0,0]

1.1163978361321651

In [86]:
df

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318

In [88]:
df.iloc[[1,3],[1,3]]

                   B         D
2021-05-08 -1.775700 -0.304801
2021-05-10 -0.523714  1.454540

In [89]:
df.iloc[0:2,1:3]

                   B         C
2021-05-07  1.616474 -1.105548
2021-05-08 -1.775700  0.465580

In [90]:
df.A

2021-05-07    1.116398
2021-05-08    1.027949
2021-05-09    1.065303
2021-05-10    0.983254
2021-05-11   -0.199245
2021-05-12   -0.607123
Freq: D, Name: A, dtype: float64

In [92]:
df.A>0

2021-05-07     True
2021-05-08     True
2021-05-09     True
2021-05-10     True
2021-05-11    False
2021-05-12    False
Freq: D, Name: A, dtype: bool

In [93]:
df[df.A>0     ]

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540

In [95]:
df[df.A>1     ]

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970

In [96]:
df>0

                A      B      C      D
2021-05-07   True   True  False   True
2021-05-08   True  False   True  False
2021-05-09   True  False   True   True
2021-05-10   True  False  False   True
2021-05-11  False  False  False  False
2021-05-12  False  False  False   True

In [97]:
df

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318

In [98]:
df[df>0]

                   A         B         C         D
2021-05-07  1.116398  1.616474       NaN  0.606092
2021-05-08  1.027949       NaN  0.465580       NaN
2021-05-09  1.065303       NaN  0.533991  0.239970
2021-05-10  0.983254       NaN       NaN  1.454540
2021-05-11       NaN       NaN       NaN       NaN
2021-05-12       NaN       NaN       NaN  1.255318

In [100]:
df2=df.copy()

In [101]:
df2

                   A         B         C         D
2021-05-07  1.116398  1.616474 -1.105548  0.606092
2021-05-08  1.027949 -1.775700  0.465580 -0.304801
2021-05-09  1.065303 -2.227122  0.533991  0.239970
2021-05-10  0.983254 -0.523714 -1.529905  1.454540
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318

In [104]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

In [105]:
df2

                   A         B         C         D      E
2021-05-07  1.116398  1.616474 -1.105548  0.606092    one
2021-05-08  1.027949 -1.775700  0.465580 -0.304801    one
2021-05-09  1.065303 -2.227122  0.533991  0.239970    two
2021-05-10  0.983254 -0.523714 -1.529905  1.454540  three
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135   four
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318  three

In [107]:
df2[df2['E'].isin(['one'])]

                   A         B         C         D    E
2021-05-07  1.116398  1.616474 -1.105548  0.606092  one
2021-05-08  1.027949 -1.775700  0.465580 -0.304801  one

In [108]:
df2[df2['E'].isin(['three'])]

                   A         B         C         D      E
2021-05-10  0.983254 -0.523714 -1.529905  1.454540  three
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318  three

In [109]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20210507', periods=6))

In [111]:
df['F']=s1

In [112]:
df

                   A         B         C         D  F
2021-05-07  1.116398  1.616474 -1.105548  0.606092  1
2021-05-08  1.027949 -1.775700  0.465580 -0.304801  2
2021-05-09  1.065303 -2.227122  0.533991  0.239970  3
2021-05-10  0.983254 -0.523714 -1.529905  1.454540  4
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135  5
2021-05-12 -0.607123 -1.608729 -1.135281  1.255318  6

In [114]:
df[df>0]=-df

In [115]:
df

                   A         B         C         D  F
2021-05-07 -1.116398 -1.616474 -1.105548 -0.606092 -1
2021-05-08 -1.027949 -1.775700 -0.465580 -0.304801 -2
2021-05-09 -1.065303 -2.227122 -0.533991 -0.239970 -3
2021-05-10 -0.983254 -0.523714 -1.529905 -1.454540 -4
2021-05-11 -0.199245 -0.681413 -0.930412 -0.301135 -5
2021-05-12 -0.607123 -1.608729 -1.135281 -1.255318 -6

In [117]:
df[df<0]=-df

In [118]:
df

                   A         B         C         D  F
2021-05-07  1.116398  1.616474  1.105548  0.606092  1
2021-05-08  1.027949  1.775700  0.465580  0.304801  2
2021-05-09  1.065303  2.227122  0.533991  0.239970  3
2021-05-10  0.983254  0.523714  1.529905  1.454540  4
2021-05-11  0.199245  0.681413  0.930412  0.301135  5
2021-05-12  0.607123  1.608729  1.135281  1.255318  6