<a href="https://colab.research.google.com/github/sinwooo/bmt_python/blob/main/21500_16%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

In [ ]:
type(names)

list

In [ ]:
names[0]

'정밀'

In [ ]:
names[1]

'폴리'

In [ ]:
type(names[0])

str

In [ ]:
names.append('부산기계')

In [ ]:
names

['정밀', '폴리', '산설', '메카', '로봇', '전기', '부산기계']

In [ ]:
for name in names:
  if len(name) > 2:
    print(name,'공업고등학교')     
    print(name + '공업고등학교')

부산기계 공업고등학교
부산기계공업고등학교

In [ ]:
for name in names:
  if len(name) > 2:
    print(name,"공업고등학교")     
    print(name + '공업고등학교')

부산기계 공업고등학교
부산기계공업고등학교

In [ ]:
#주석

In [ ]:
print(20**3)

print('Hello, World')

8000
Hello, World

In [ ]:
school = '부산기계공고'  
print(school)  

a = 1024 
print(a)
  
name = "전기과"
print(name+' 화이팅!!!')    
print(f'{name} 화이팅!!!')   

print(2020, f'{name} 화이팅!!!')

부산기계공고
1024
전기과 화이팅!!!
전기과 화이팅!!!
2020 전기과 화이팅!!!

In [ ]:
name=input()
print(name+'님 안녕하세요')

print(name, '님 안녕하세요')

print(f'{name}님 안녕하세요')

권신우
권신우님 안녕하세요
권신우 님 안녕하세요
권신우님 안녕하세요

ㄴㅁㅇ

ㅇㄴㅁㅀㅎㄹ

In [ ]:
name=input('이름 입력 : ')
print(name+'님 안녕하세요')

print(name, '님 안녕하세요')

print(f'{name}님 안녕하세요')

이름 입력 : 부기공
부기공님 안녕하세요
부기공 님 안녕하세요
부기공님 안녕하세요

In [ ]:
age = input('나이를 입력해 주세요 : ')

print(int(age)-1)

나이를 입력해 주세요 : 12
11

In [ ]:
type(age)

str

In [ ]:
age

'12'

In [ ]:
age = int(input('나이를 입력해 주세요 : '))

print(age-1)

나이를 입력해 주세요 : 12
11

In [ ]:
name = input('이름을 입력해 주세요 : ')
age = int(input('나이를 입력해 주세요 : '))

print(f'안녕하세요! {name} 님! 저는 처음에 {str(age-4)}살인 줄 알았어요!!')

이름을 입력해 주세요 : rnjs구 권신우
나이를 입력해 주세요 : 18
안녕하세요! rnjs구 권신우 님! 저는 처음에 14살인 줄 알았어요!!

In [ ]:
input('대답을 입력하세요 : ')

대답을 입력하세요 : 아유 감사합니다

'아유 감사합니다'

In [ ]:
print(10 * 2)   # * : 곱셈 연산자
print(10 ** 2)  # ** : 거듭 제곱 연산자
print(10 % 2)   # % : 나머지 연산자
print(7 / 2)   # / : 실수 나눗셈
print(7 // 2)  # // : 정수 나눗셈 (몫만 나옴)

20
100
0
3.5
3

In [ ]:
print(10 >= 2)
print(10 <= 2)
print(10 == 2)   # == : 같다
print(10 != 2)   # != : 같지 않다
print(10 % 2 == 1)

True
False
False
True
False

In [ ]:
true

NameError: ignored

In [ ]:
True

True

In [ ]:
print(10 >= 2)
print(10 <= 2)
print(10 == 2)   # == : 같다
print(10 != 2)   # != : 같지 않다
print(10 % 2 == 1)

True
False
False
True
False

In [ ]:
# 논리 연산자 (참:True, 거짓:False)
# and(둘 다 참일때 True), or(둘 중 하나만 참일 때 True), not(반전) 연산자

# and 연산자
print(1==1 and 2 != 1) # True and True => True
print(10 % 2 != 0 and 1 + 1 > 0 ) # True and False => False
print()

# or 연산자
print(10 < 5 or 10 == 5) # False or False => False
print(10 % 2 != 0 or 1 + 1 > 0) # False or True => True
print()

# not 연산자
print(not 10 > 5)   # not True => False
print(not 10 == 5)  # not False => True
print(not 0)        # 0은 False에 해당 : not False => True
print(not 10)       # 0을 제외한 수는 True에 해당 : not True => False

True
False

False
True

False
True
True
False

In [ ]:
for A in B:       # 맨 뒤에 콜론 기호(:) 잊지 말기
    반복할 문장1    # 들여쓰기(문단구분)가 되어 있음
    ...
    반복할 문장n    # 보통 공백 문자([space]키) 4개로 사용
B는 데이터 세트를 의미
for 반복문은 주어진 데이터 세트를 순회하거나 원하는 횟수만큼 반복하고 싶을 때 사용
즉, 데이터 세트에서 데이터를 하나씩 꺼내 와서 A에 임시로 저장

SyntaxError: ignored

In [ ]:
# for 반복문 - 1

name = '부산기계공고'

for i in name:
  print(i)

print()

for i in name:
  print(i, end='')

부
산
기
계
공
고

부산기계공고

In [ ]:
type(name)

str

In [ ]:
name[0]

'부'

In [ ]:
type(name[0])

str

In [ ]:
for i in [0, 1, 2, 3]:
  print(i ** 2)

for i in [0, 1, 2, 3]:
  print(i ** 2, end=' ')

0
1
4
9
0 1 4 9

In [ ]:

for i in range(10): # range(10) : 0 이상 10 미만의 범위를 갖는 정수 즉, 0~9까지 정수
  print(i ** 2)

for i in range(10):
  print(i ** 2, end=' ')

0
1
4
9
16
25
36
49
64
81
0 1 4 9 16 25 36 49 64 81

In [ ]:
for i in range(1, 10,2): # range(1, 10) : 1 이상 10 미만의 범위를 갖는 정수 즉, 1~9까지 정수
  print(i ** 2)

for i in range(1, 10, 2): # range(1, 10, 2) : 1 이상 10 미만의 범위를 갖는 정수 중 2씩 간격을 두고 생성 즉, 1, 3, 5, 7, 9
  print(i ** 2, end=' ')

1
9
25
49
81
1 9 25 49 81

In [ ]:
if 조건:       # 맨 뒤에 콜론 기호(:) 잊지 말기
    조건이 참일 경우 실행할 문장1    # 들여쓰기(문단구분)가 되어 있음
    ...
    조건이 참일 경우 실행할 문장n    # 보통 공백 문자([space]키) 4개로 사용
if 조건문은 주어진 조건이 True(참)인 경우에만 명령을 선택적으로 실행하고 싶을 때 사용

SyntaxError: ignored

In [ ]:
# 기본 예

if 10 < 0:
  print('안녕하세요')
print('반가워요')

반가워요

In [ ]:

# 기본 예

if 10 >0:
  print('안녕하세요')
print('반가워요')

안녕하세요
반가워요

In [ ]:
if 10 != 0 and 5 % 2 == 1:
  print('안녕하세요')

안녕하세요

In [ ]:
# 비밀번호 확인

passwd = int(input('비밀번호 4자리를 입력하세요 : '))

if passwd == 2020:
  print('비밀번호가 일치합니다.')

비밀번호 4자리를 입력하세요 : 2020
비밀번호가 일치합니다.

In [ ]:

for i in range(1,10000):
  if i == 2020:
    print('비밀번호가 일치합니다.')
    print(f'비밀번호는 {i}입니다.')

비밀번호가 일치합니다.
비밀번호는 2020입니다.

In [ ]:
passwd = int(input('비밀번호 4자리를 입력하세요 : '))

if passwd == 2020:
  print('비밀번호가 일치합니다.')
else :
  print('비밀번호가 일치하지 않습니다.')

비밀번호 4자리를 입력하세요 : 1233
비밀번호가 일치하지 않습니다.

In [ ]:

print('[ 소름끼치도록 놀라운 심리테스트 ]')

menu = input('당신이 좋아하는 음식을 입력해주세요 : ')

if menu == '짜장면':
  print(f'당신은 {menu}을 좋아하는 사람입니다.')
elif menu == '아이스크림':
  print(f'당신은 {menu}을 좋아하는 사람입니다.')
elif menu == '사탕':
  print(f'당신은 {menu}을 좋아하는 사람입니다.')
else :
  print(f'당신은 짜장면, 아이스크림, 사탕을 좋아하지 않는 사람입니다.')

[ 소름끼치도록 놀라운 심리테스트 ]
당신이 좋아하는 음식을 입력해주세요 : 고구마
당신은 짜장면, 아이스크림, 사탕을 좋아하지 않는 사람입니다.

In [ ]:
names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

for i in [0, 1, 2, 3, 4, 5]:
  print(names[i], end=' ')

print()

for i in range(6):
  print(names[i], end=' ')

정밀 폴리 산설 메카 로봇 전기
정밀 폴리 산설 메카 로봇 전기

In [ ]:
# 리스트에 저장된 위치(index)로 값에 접근하기 : indexing(인덱싱)

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']
         # 0       1       2       3        4       5
         # -6     -5      -4      -3       -2       -1

print(names[0])   # 리스트 원소 중 제일 첫번째 요소
print(names[-1])  # 리스트 원소 중 제일 마지막 요소(뒤에서 첫번째 요소)

정밀
전기

In [ ]:
# 리스트에 저장된 위치로 데이터의 일부 자르기 : slicing(슬라이싱)

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

print(names[0:2])
print(names[1:3])
print(names[1:])
print(names[:])

['정밀', '폴리']
['폴리', '산설']
['폴리', '산설', '메카', '로봇', '전기']
['정밀', '폴리', '산설', '메카', '로봇', '전기']

In [ ]:
0:2=>0이상 2미만: 0,1

SyntaxError: ignored

In [ ]:
names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

names.append('부기공')
names.insert(1,'화이팅')

print(names)

['정밀', '화이팅', '폴리', '산설', '메카', '로봇', '전기', '부기공']

In [ ]:
names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

print(len(names))   # 리스트의 길이 출력하기
print(len('문자열의 크기를 구해봅시다.')) # 문자열의 길이 출력하기

6
15

In [ ]:
names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

names.append('부산기계')

for name in names:
  if len(name) > 2:
    print(f'{name}공업고등학교')

부산기계공업고등학교

In [63]:
print('Hello World')
print('Busan')
print('Mechanical')
print('High School')

Hello World
Busan
Mechanical
High School

In [64]:
print('Hello', end = ' ') # end 속성
print('World')

Hello World

In [65]:
print('Hello', 'World')   # 각 문자열 한칸 띄우기
print('Hello' + 'World')  # 문자열 합치기

Hello World
HelloWorld

In [66]:
# 이스케이프 시퀀스(Escape Sequence)
# \와 특정문자를 결합하여 문자를 표시해주는 문자

print('Hello\'') # \' : 작은 따옴표 표시
print('Hello\"') # \" : 큰 따옴표 표시
print('Hello\nWorld') # \n : 개행(엔터)

Hello'
Hello"
Hello
World

In [67]:
x = input() # 키보드를 통한 문자열 입력하고 그 값을 x 변수에 저장
print(x) # 입력된 x 변수값 출력

안녕
안녕

In [68]:
x = input('x 입력 : ')
y = input('y 입력 : ')

print(x, '+', y, '=', x+y)
# 잘못된 출력 => 이유 입력되는 숫자도 문자열임.

x 입력 : 1
y 입력 : 2
1 + 2 = 12

In [69]:
# 두 값을 입력받아 더한 결과를 출력하기 - 해결

x = input('x 입력 : ')
y = input('y 입력 : ')

print(x, '+', y, '=', int(x)+int(y))

x 입력 : 1
y 입력 : 2
1 + 2 = 3

In [70]:
x = input('x 입력 : ')
y = input('y 입력 : ')

print(f'{x} + {y} = {int(x)+int(y)}')

x 입력 : 1
y 입력 : 2
1 + 2 = 3

In [71]:
x = int(input('첫 번째 정수 입력 : '))
y = int(input('두 번째 정수 입력 : '))

# 제어부(연산작업) + 출력부
print(x, '+', y, '=', (x + y))
print(x, '-', y, '=', (x - y))
print(x, 'x', y, '=', (x * y))
print(x, '/', y, '=', (x / y))

첫 번째 정수 입력 : 10
두 번째 정수 입력 : 2
10 + 2 = 12
10 - 2 = 8
10 x 2 = 20
10 / 2 = 5.0

In [72]:
x = int(input('x 입력 : '))
y = float(input('y 입력 : '))

print(f'{x} + {y} = {x+y}')

x 입력 : 1
y 입력 : 2
1 + 2.0 = 3.0

In [73]:
x = int(input('첫 번째 정수 입력 : '))
y = int(input('두 번째 정수 입력 : '))

# 제어부(연산작업) + 출력부
print(x, '+', y, '=', (x + y))
print(x, '-', y, '=', (x - y))
print(x, 'x', y, '=', (x * y))
print(x, '/', y, '=', (x / y))
print(x, '//', y, '=', (x // y)) # 몫
print(x, '%', y, '=', (x % y)) # 나머지

# 구분선
print('*'*50)
print(f'{x} + {y} = {x+y}')

# f 스트링 사용한 출력부
print(f'{x} + {y} = {x + y}')
print(f'{x} - {y} = {x - y}')
print(f'{x} x {y} = {x * y}')
print(f'{x} / {y} = {x / y}')
print(f'{x} // {y} (나눈 몫) = {x // y}')
print(f'{x} % {y} (나눈 나머지) = {x % y}')

첫 번째 정수 입력 : 10
두 번째 정수 입력 : 2
10 + 2 = 12
10 - 2 = 8
10 x 2 = 20
10 / 2 = 5.0
10 // 2 = 5
10 % 2 = 0
**************************************************
10 + 2 = 12
10 + 2 = 12
10 - 2 = 8
10 x 2 = 20
10 / 2 = 5.0
10 // 2 (나눈 몫) = 5
10 % 2 (나눈 나머지) = 0

In [74]:
weight = int(input('weight(kg) : '))
height = int(input('height(cm) : '))

# 제어부
BMI = weight / ( height/100)**2

# 출력부
print(f'BMI : {BMI:.2f}')

weight(kg) : 83
height(cm) : 179
BMI : 25.90

In [76]:
weight = int(input('weight(kg) : '))
height = int(input('height(cm) : '))

# 제어부
BMI = weight / ( height/100)**2

# 출력부
print(f'BMI : {BMI:4.3f}')

weight(kg) : 83
height(cm) : 179
BMI : 25.904

In [77]:
print('ExchangeRate Calc : $ - \ ')
ExchangeRate = float(input(' 1$ ExchangeRate : '))
KRW = int(input('KRW : '))

# 제어부 : 환율계산 => 0.84$ / 1000\
USD = ExchangeRate / 1000 * KRW

# 출력부
print(f'USD : {USD:.1f} $')

ExchangeRate Calc : $ - \
 1$ ExchangeRate : 0.84
KRW : 100000
USD : 84.0 $

In [78]:
# 섭씨(Celsius) <=> 화씨(Fahrenheit) 변환
# F = C * 1.8 + 32 / C = (F-32) / 1.8
# 입력부
celsius = float(input('Celsius : '))

# 제어부 : 변환
fahrenheit = (celsius * 1.8) + 32

# 출력부
print(f'Fahrenheit : {fahrenheit}')

Celsius : 21
Fahrenheit : 69.80000000000001

In [79]:
len() : 문자열 길이 구하기
count() : 문자의 개수 구하기
find() : 문자가 처음 나오는 위치 반환, 없으면 -1
index() : 문자열이 처음 나오는 위치 반환, 없으면 오류
join() : 문자열 사이에 문자 삽입, 예:'삽입문자'.join(문자열)
upper() : 소문자를 대문자로 변환
lower() : 대문자를 소문자로 변환
replace() : 문자열 바꾸기, 예:replace(원본, 변환 문자)
split() : 문자열 나누기 - 인수가 없으면 공백(스페이스, 탭, 엔터 등 구분자)을 기준

SyntaxError: ignored

In [80]:
x = 'Hello Python'

len(x)
print(f'len(x) : {len(x)}')

len(x) : 12

In [81]:
x = 'Hello Python'

x.count('o')
print(f"x.count('o') : {x.count('o')}") # 안쪽에 작은 따옴표가 있기에 바깥쪽에는 큰 따옴표가 있어야 함.

x.count('o') : 2

In [82]:
x = 'Hello Python'

x.find("o")
print(f'x.find("o") : {x.find("o")}')

x.find("o") : 4

In [83]:
x = 'Hello Python'

x.index("Python")
print(f'x.index("Python") : {x.index("Python")}')

x.index("Python") : 6

In [85]:
x = 'Hello Python'

z = '*'.join(x)
print(z)

H*e*l*l*o* *P*y*t*h*o*n

In [86]:

x = 'Hello Python'

y = '-'.join(x)
print(y)

y.split("-")
print(f'y.split("-") : {y.split("-")}')

H-e-l-l-o- -P-y-t-h-o-n
y.split("-") : ['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [87]:
x = 'Hello Python'

x.upper()
print(f'x.upper() : {x.upper()}')

x.upper() : HELLO PYTHON

In [88]:

x = 'Hello Python'

x.lower()
print(f'x.lower() : {x.lower()}')

x.lower() : hello python

In [89]:
x = 'Hello Python'

x.replace("P", "★")
print(f'x.replace("P", "★") : {x.replace("P", "★")}')

x.replace("P", "★") : Hello ★ython

In [ ]:
# 코로나 어원

corona = '''
코로나(corona)는 라틴말로 왕관을 뜻하며 통상 태양을 둘러싼 외곽의 빛(광환)을 지칭한다.
코로나 바이러스라는 이름은 전자현미경으로 이 바이러스를 관찰했을 때 마치 코로나와 유사한 모양을 띠어 붙여진 이름이다.
이번에 중국의 우환에서 시작된 코로나 바이러스는 2019년에 발견된 새로운 코로나 바이러스라는 뜻으로 2019-nCov로 붙여졌다.
nCov는 novel(새로운) Cov(코로나 바이러스)라는 뜻이다.
'''
print('-'*50)
sentence = corona.count('.')
print(f'{sentence} 개의 문장으로 이루어짐')
print(corona.replace('\n','').split('.'))

print()

print('-'*50)
str = input('찾으려는 단어를 입력하시요 : ')
cnt = corona.count(str)
print(f"'{str}'(은/는) {cnt} 번 언급됨")